{% extends "CleentfaarSimplrCmsBundle:Install:layout.html.twig" %}
{% trans_default_domain "installation" %}
{% block content %}
    <div>
        {{ 'form.steps'|trans }}:
        {% include 'CleentfaarSimplrCmsBundle:Install:Wizard/stepList.html.twig' %}
    </div>
    <form method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {% if flow.getCurrentStepNumber() == 1 %}
            {# Do something specific to this step... #}
        {% endif %}

        {{ form_rest(form) }}

        {% include 'CleentfaarSimplrCmsBundle:Install:Wizard/buttons.html.twig' %}
    </form>
{% endblock %}